.app {
  width: 1000px;
  margin: 40px auto 0;
  display: flex;
}

.left-navi {
  list-style-type: none;
  margin-right: $base-margin;
  padding-right: 40px;
  border-right: 1px solid #333;
}

.app-title {
  text-align: center;
  margin-top:  0;
}

.result-area {
  display: flex;
}

.result-right {
  margin-left: 20px;
}
